.items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 2rem;

  .item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 26rem;
    padding: 1rem;
    border-radius: 2rem;

    &:hover {
      box-shadow: 0 0 5px black;
    }

    &__image {
      width: 100%;
      max-width: 24rem;
      height: 26rem;
      margin-bottom: 1rem;
    }

    &__price {
        font-weight: 700;
        margin-top: auto;
    }
  }
}
