.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: -30rem;
    width: 25rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transition: all 0.3s ease-in;
    font-size: 2rem;

    &_active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25rem;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 0 5px black;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        transition: all 0.3s ease-in;
        font-size: 2rem;

        &:hover {
            svg {
                color: white;
            }
        }
    }
}